{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Ganesh Bhatta" />
  <meta name="keywords"
    content="pfms, personal finance, expense tracker, daily expense tracker, expense manager, online expense manager,
    personal finance management system in django python, expense manager in django, expense tracker,
    personal finance manager in heroku, heroku finance manager, expense tracker by Ganesh Bhatta" />
  <meta name="description" content="Personal Finance Management System." />
  <link href="{% static 'front/img/logo.png' %}" type="image/x-icon" rel="icon" />
  <link href="{% static 'front/img/logo.png' %}" type="image/x-icon" rel="shortcut icon" />
  <meta property="og:title" content="Personal Finance Management System." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://new-pfms.herokuapp.com" />
  <meta property="og:image" content="/static/img/end-icon200.png" />
  <meta property="og:site_name" content="Personal Finance Manager" />
  <meta property="og:description"
    content="Easy-to-use online Personal Finance Management System. You can easily manage incomes and expenses online." />
  <title>{% block title %} {% endblock %} | PFMS</title>
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'front/plugins/bootstrap/dist/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'front/plugins/aos/aos.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'front/css/my-login.css' %}" />
  <style>
    /* Works on Firefox */
    * {
      scrollbar-width: thin;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 10px;
    }

    *::-webkit-scrollbar-thumb {
      background-color: rgb(132, 132, 143);
      border-radius: 20px;
    }

    /* form errors and request messages and alerts */
    .alert-dismissible {
      z-index: 100;
      position: fixed;
      right: 2em;
      opacity: 0.8;
      margin-top: 2rem;
    }
  </style>
  {% block site_css %} {% endblock %}
</head>

<body class="my-login-page" style="background-color: #34495e">
  <section class="h-100">
    {% include "partials/messages.html" %}
    <div class="container h-100">
      <div class="row justify-content-md-center h-100" data-aos="zoom-in-up"
      data-aos-duration="1000">
        <div class="card-wrapper">
          <div class="brand mt-0" style="border: 10px solid #34495e; border-radius: 50%">
            <img src="{% static 'front/img/logo.png' %}" alt="logo" />
          </div>
          <div class="card fat" style="margin-top: -70px; margin-bottom: 10px; box-shadow: 0 0 10px #73a1b9;">
            <div class="card-body ">
              <div data-aos="fade-zoom-in"
              data-aos-easing="ease-in-back"
              data-aos-delay="500"
              data-aos-offset="0">
                <h4 class="card-title text-center mb-0 p-2 font-weight-bold" style="font-family:Herculanum;">
                  {% block sub-title %} {% endblock %}
                </h4>
              </div>
              {% block content %} {% endblock %}
            </div>
            <span class="footer-text text-center small mt-2 pb-1"> Copyright &copy; {% now "Y" %} &mdash;  PFMS </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="{% static 'front/plugins/jquery/dist/jquery.slim.min.js' %}"></script>
  <script src="{% static 'front/plugins/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'front/plugins/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'front/plugins/aos/aos.js' %}"></script>
  <script src="{% static 'front/js/my-login.js' %}"></script>
  <script>
    $(document).ready(function () {
      setTimeout(function () {
        $(".alert-dismissible").hide();
      }, 3000);
    });
    AOS.init();
  </script>
  {% block site_js %} {% endblock %}
</body>

</html>