<div class="card">
    <div class="card-header">
        Show Expenses
    </div>

    <div class="card-body">
        <div class="mb-2">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th>
                            ID
                        </th>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Expense Category
                        </th>
                        <td>
                            Kalia Walls
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Entry Date
                        </th>
                        <td>
                            2021-10-14
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Amount
                        </th>
                        <td>
                            $11.00
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Description
                        </th>
                        <td>
                            Velit rem repudiand
                        </td>
                    </tr>
                </tbody>
            </table>
            <a style="margin-top:20px;" class="btn btn-default" href="http://127.0.0.1:8000/admin/expenses">
                Back to list
            </a>
        </div>


    </div>
</div>