{% extends 'dashboard/dashboard.html' %}
{% block title %}
  Expenses
{% endblock %}


{% block site_css %}
  .table-responsive {
    display: table;
  }
{% endblock %}
  

{% block content-header1 %}
  Expenses
{% endblock  %}

{% block content-header2 %}
  Expenses
{% endblock  %}

{% block content %}
<div class="col-sm-12 col-md-12 mx-auto">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">All Expenses</h3>
      <div class="card-tools">
        <a href="{% url 'add-expense' %}" class="btn btn-tool btn-primary" title="Add New Expense">
          <i class="fas fa-plus mr-1"></i>
          <span class="text-md">Add New Expense</span>
          <span data-del-url="{% url 'delete-expenses' %}" id="selectDeleteForm" class="d-block"></span>
        </a>
      </div>
    </div>
    <div class="card-body p-0 table-responsive">
      <table class="table table-striped   text-center  table-hover datatable" id="dataTable">
        <thead>
          <tr>
            <th></th>
            <th>
              S.N.
          </th>
          <th>
              Amount ({{ currency }})
          </th>
          <th>
              Category
          </th>
          <th>
              Description
          </th>
          <th>
              Expense Date
          </th>
          <th>
            Entry Date
        </th>
            <th>
              &nbsp;
            </th>
          </tr>
        </thead>
        <tbody>
          {% for expense in expenses %}
          <tr data-entry-id = "{{ expense.id }}">
            <td></td>
            <td>{{ forloop.counter }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.expense_category }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.expense_date |date:'Y-m-d' }}</td>
            <td>{{ expense.entry_date |date:'Y-m-d' }}</td>
            <td>
              <a href="{% url 'view-expense' expense.id %}" title="View this Expense" class="mr-2 btn btn-xs btn-circle btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a href="{% url 'edit-expense' expense.id %}" title="Edit this Expense" class="mr-2 btn btn-xs btn-circle btn-success"><i class="fa fa-edit" aria-hidden="true"></i></a>
              <a href="javascript:;" title="Delete this Expense" class=" btn btn-xs btn-circle btn-danger delete-btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
              <form action="{% url 'delete-expense' expense.id %}" method="post">{% csrf_token %}</form>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>
{% endblock %}

{% block site_js %}
<script>
  var _target_chars = 10
  var _target_col = [2,4]
</script>
  
{% endblock site_js %}