{% extends 'dashboard/dashboard.html' %}
{% block title %}
  Expenses
{% endblock %}


{% block site_css %}
  .table-responsive {
    display: table;
  }
{% endblock %}
  

{% block content-header1 %}
  Expenses
{% endblock  %}

{% block content-header2 %}
  Expenses
{% endblock  %}

{% block content %}
 <div class="col-sm-12 col-md-12 mx-auto">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title text-lg font-weight-bold">All Expenses</h3>
      <div class="card-tools">
        {% if page_obj.paginator.count %}
          <div class="input-group input-group-sm">
            <form action="{% url 'expense-search' %}" onsubmit="return false;">
              {% csrf_token %}
              <input type="text" id="searchField" class="form-control form-control-sm" placeholder="Search Records">
            </form>
            <div class="input-group-append">
              <div class="btn btn-default"><i class="fas fa-search"></i>
              </div>
            </div>
          </div>
        {% else %}
          <a href="{% url 'add-expense' %}" class="btn btn-primary btn-xs ml-3"  
            title="Add New Expense">
            <i class="fas fa-plus mr-1"></i> 
            <span class="text-md">Add New Expense</span>
          </a>
        {%endif%}
      </div>
    </div>
    <div class="card-body p-0 table-responsive records" id="mainTable">
      <div class="p-1 controls">
        <!-- Check all button -->
        {% if page_obj.paginator.count %}
          <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
          </button>
          <div class="btn-group">
          
            <button type="button" class="btn btn-default btn-sm">
              <i class="far fa-trash-alt"></i>
              <form action="{% url 'delete-expenses' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="ids" value="">
              </form>
            </button>
          </div>
          <!-- /.btn-group -->
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-sync-alt"></i>
          </button>

          <div class="btn mx-auto">
            <a href="" class="btn btn-default btn-xs">pdf</a>
            <a href="" class="btn btn-default btn-xs">csv</a>
            <a href="" class="btn btn-default btn-xs">excel</a>
            <a href="{% url 'add-expense' %}" class="btn btn-default btn-xs ml-3"  
              title="Add New Expense">
              <i class="fas fa-plus mr-1"></i> 
              <span class="text-md">Add New Expense</span>
            </a>
          </div>
        {% endif %}

        {% if page_obj.paginator.num_pages > 1 %}
          <div class="float-right pagination">
            <span class="mr-2">
              Showing Page {{ page_obj.number }}  of {{ page_obj.paginator.num_pages }}
            </span>
            <div class="btn-group">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-left"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-left"></i>
              </button>
              {% endif %}
                
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-right"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-right"></i>
              </button>
              {% endif %}
            </div>
            <!-- /.btn-group -->
          </div>
        {% endif %}
        <!-- /.float-right -->
      </div>
      <table class="table table-striped   text-center  table-hover" >
          <thead class="d-{% if page_obj.paginator.count <= 0  %}none {% endif %}">
              <tr>
                  <th>
                  </th>
                  <th>
                      S.N.
                  </th>
                  <th>
                      Amount ({{ currency }})
                  </th>
                  <th>
                      Category
                  </th>
                  <th>
                      Description
                  </th>
                  <th>
                      Expense Date
                  </th>
                  <th>
                    Entry Date
                </th>
                  <th>
                  </th>
              </tr>
          </thead>
          <tbody>
            {% if page_obj.paginator.count <= 0 %}
              <h1 class= 'text-center'>You have no expenses.</h1>
            {% endif %}
              
              {% for expense in page_obj %}
              <tr>
                <td>
                  <div class="icheck-primary">
                    <input type="checkbox" name="chk_record" value="{{ expense.id }}">
                    <label for="check1"></label>
                  </div>
                </td>
                <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.expense_category }}</td>
                <td>{{ expense.description|truncatechars:20 }}</td>
                <td>{{ expense.expense_date |date:'Y-m-d' }}</td>
                <td>{{ expense.entry_date |date:'Y-m-d' }}</td>
                <td>
                  <a href="{% url 'view-expense' expense.id %}" title="View this Expense" class="mr-2 btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  <a href="{% url 'edit-expense' expense.id %}" title="Edit this Expense" class="mr-2 btn btn-sm btn-success"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <a href="javascript:;" title="Delete this Expense" class=" btn btn-sm btn-danger delete-btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <form action="{% url 'delete-expense' expense.id %}" method="post">{% csrf_token %}</form>
                </td>
              </tr>
              {% endfor %}
                
          </tbody>
      </table>
      <div class="p-1 controls">
        <!-- Check all button -->
        {% if page_obj.paginator.count %}
          <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <i class="far fa-trash-alt"></i>
            </button>
          </div>
          <!-- /.btn-group -->
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-sync-alt" onclick="window.refresh();"></i>
          </button>
        {% endif %}
        {% if page_obj.paginator.num_pages > 1 %}
          <div class="float-right pagination">
            <span class="mr-2">
              Showing Page {{ page_obj.number }}  of {{ page_obj.paginator.num_pages }}
            </span>
            <div class="btn-group">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-left"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-left"></i>
              </button>
              {% endif %}
                
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-right"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-right"></i>
              </button>
              {% endif %}
            </div>
            <!-- /.btn-group -->
          </div>
        {% endif %}
        <!-- /.float-right -->
      </div>
    </div>



    <div class="card-body p-0 table-responsive records d-none" id="resultTable" data-table-name = "expense">
      <div class="p-1 controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm" id="csrfParent">
            {% csrf_token %}
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt" onclick="window.refresh();"></i>
        </button>

        <div class="btn mx-auto">
          <a href="" class="btn btn-default btn-xs">pdf</a>
          <a href="" class="btn btn-default btn-xs">csv</a>
          <a href="" class="btn btn-default btn-xs">excel</a>
          <a href="{% url 'add-expense' %}" class="btn btn-default btn-xs ml-3"  title="Add New Expense">
            <i class="fas fa-plus mr-1"></i> 
            <span class="text-md">Add New Expense</span>
          </a>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
          <div class="float-right pagination">
            <span class="mr-2">
              Showing Page {{ page_obj.number }}  of {{ page_obj.paginator.num_pages }}
            </span>
            <div class="btn-group">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-left"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-left"></i>
              </button>
              {% endif %}
                
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-right"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-right"></i>
              </button>
              {% endif %}
            </div>
            <!-- /.btn-group -->
          </div>
        {% endif %}
        <!-- /.float-right -->
      </div>
      <table class="table table-striped   text-center  table-hover">
          <thead>
              <tr>
                  <th>
                  </th>
                  <th>
                      S.N.
                  </th>
                  <th>
                      Amount ({{ currency }})
                  </th>
                  <th>
                      Category
                  </th>
                  <th>
                      Description
                  </th>
                  <th>
                      Expense Date
                  </th>
                  <th>
                    Entry Date
                </th>
                  <th>
                  </th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>
      <div class="p-1 controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt"></i>
        </button>
        {% if page_obj.paginator.num_pages > 1 %}
          <div class="float-right pagination">
            <span class="mr-2">
              Showing Page {{ page_obj.number }}  of {{ page_obj.paginator.num_pages }}
            </span>
            <div class="btn-group">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-left"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-left"></i>
              </button>
              {% endif %}
                
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="btn btn-default btn-sm">
                <i class="fas fa-chevron-right"></i>
              </a>
              {% else %}
              <button type="button" class="btn btn-default btn-sm" disabled>
                <i class="fas fa-chevron-right"></i>
              </button>
              {% endif %}
            </div>
            <!-- /.btn-group -->
          </div>
        {% endif %}
        <!-- /.float-right -->
      </div>
    </div>


    <!-- /.card-body -->
  </div>
 </div>
{% endblock %}

{% block site_js %}
<script>
  $(function () {
    //Enable check and uncheck all functionality
    $('.checkbox-toggle').click(function () {
      var clicks = $(this).data('clicks')
      if (clicks) {
        //Uncheck all checkboxes
        $('.records input[type=\'checkbox\']').prop('checked', false)
        $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
      } else {
        //Check all checkboxes
        $('.records input[type=\'checkbox\']').prop('checked', true)
        $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
      }
      $(this).data('clicks', !clicks)
    })
  })
</script>
  
{% endblock site_js %}