{% extends 'dashboard/dashboard.html' %}
{% block title %}
  Income Edit
{% endblock %}

{% block content-header1 %}
  Income Edit
{% endblock  %}

{% block content-header2 %}
  Income Edit
{% endblock  %}

{% block content %}
  <div class="col-sm-10 col-md-8 mx-auto">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Income Edit Form</h3>
  
        <div class="card-tools">
          <a href="{% url 'incomes' %}" class="btn btn-tool btn-primary"  title="Back to list">
            <i class="mr-1 fas fa-arrow-left"></i>
            <span>Back to List</span>
          </a>
        </div>
      </div>
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group">
            <input type="reset" value="Cancel" class="btn btn-danger float-left">
            <input type="submit" value="Save Changes" class="btn btn-success float-right">
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
{% endblock %}