{% extends 'dashboard/dashboard.html' %}
{% load static %}
{% block title %}
Income Summary
{% endblock %}

{% block content-header1 %}
Income Summary
{% endblock %}

{% block content-header2 %}
Income Summary
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ today.todays_count }}</h3>
                    <h5 class = "font-weight-bold">TODAY</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ today.todays_amount }}</span>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>{{ week.this_weeks_count }}</h3>
                    <h5 class = "font-weight-bold">THIS WEEK</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ week.this_weeks_amount }}</span>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ month.this_months_count }}</h3>
                    <h5 class = "font-weight-bold">THIS MONTH</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ month.this_months_amount }}</span>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ year.this_years_count }}</h3>
                    <h5 class = "font-weight-bold">THIS YEAR</h5>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ year.this_years_amount }}</span>
            </div>
        </div>
    </div>
</div>

<div class="col-12 mx-auto">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Demographic Report
            </h3>
            <div class="card-tools" style="display: flex; flex-direction: columns; align-items:center">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a class="nav-link"  href="javascript:;">Chart Type:</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link chart-type active" data-chart-type="bar" href="javascript:;"
                            data-toggle="tab">Bar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link chart-type" data-chart-type="line" href="javascript:;"
                            data-toggle="tab">Line</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link chart-type" data-chart-type="doughnut" href="javascript:;"
                            data-toggle="tab">Donut</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link chart-type" data-chart-type="pie" href="javascript:;"
                            data-toggle="tab">Pie</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link chart-type" data-chart-type="radar" href="javascript:;"
                            data-toggle="tab">Radar</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body row">
        <div class="chart col-sm-12 col-lg-6 ">
            <div class="card-header bg-secondary mb-4">
                <h3 class="card-title mb-3">
                    <i class="fas fa-chart-pie"></i>
                    Income Summary Based on Category
                </h3>
                <div class="card-tools" style="display: flex; flex-direction: columns; align-items:center">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item mr-2">
                            <select class="form-control" id="dayChart" name="day">
                                <option value="0">Today</option>
                                <option value="7">This Week</option>
                                <option value="30">This Month</option>
                                <option value="180">This Six Month</option>
                                <option value="366">This Year</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-header bg-success">
                <h3 class="card-title mb-3">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Income Summary for
                </h3>
                <div class="card-tools" style="display: flex; flex-direction: columns; align-items:center">
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item mr-2">
                            <div class="form form-inline">
                                <label for="" class="mr-1">Year:</label>
                                <select id="dobyear" data-monthly-url = "{% url 'monthly-income' %}" class="form-control-sm"></select>
                            </div>
                        </li>
                        <li class="nav-item mr-2">
                            <div class="form form-inline">
                                <label for="" class="mr-1">Month:</label>
                                <select id="dobmonth" data-weekly-url = "{% url 'weekly-income' %}" class="form-control-sm"></select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="chart col-sm-12 col-lg-6">
            <input type="hidden" data-summary-url = "{% url 'income-summary-by-category' %}">
            <canvas id="myChart" class="bg-light" style="max-height: auto; max-width: 100%;"></canvas>
        </div>
    </div>
    <!-- /.card-body -->
</div>
{% endblock %}

{% block site_js %}
<script src="{% static 'js/my-chart.js' %}"></script>
{% endblock %}