{% extends 'dashboard/dashboard.html' %}
{% block title %}
  Income Details
{% endblock %}

{% block content-header1 %}
  Income Details
{% endblock  %}

{% block content-header2 %}
  Income Details
{% endblock  %}

{% block content %}
  <div class="col-sm-10 col-md-8 mx-auto">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Income Details</h3>
  
        <div class="card-tools">
          <a href="{% url 'incomes' %}" class="btn btn-tool btn-primary"  title="Back to list">
            <i class="mr-1 fas fa-arrow-left"></i>
            <span>Back to List</span>
          </a>
        </div>
      </div>
      <div class="card-body p-0 table-responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>
                        Income Category
                    </th>
                    <td>
                        {{ income.income_category }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Entry Date
                    </th>
                    <td>
                        {{ income.entry_date | date:'Y-m-d' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Income Date
                    </th>
                    <td>
                        {{ income.income_date | date:'Y-m-d' }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Amount
                    </th>
                    <td>
                        {{ income.amount }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Description
                    </th>
                    <td>
                        {{ income.description }}
                    </td>
                </tr>
                <tr>
                  <th>
                      Last Time Updated at:
                  </th>
                  <td>
                      {{ income.updated_at | date:'Y-m-d' }}
                  </td>
                </tr>
            </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
{% endblock %}