{% extends 'dashboard/dashboard.html' %}
{% block title %}
  Incomes
{% endblock %}


{% block site_css %}
  .table-responsive {
    display: table;
  }
{% endblock %}
  

{% block content-header1 %}
  Incomes
{% endblock  %}

{% block content-header2 %}
  Incomes
{% endblock  %}

{% block content %}
 <div class="col-sm-12 col-md-12 mx-auto">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">All Incomes</h3>
      <div class="card-tools">
        <a href="{% url 'add-income' %}" class="btn btn-tool btn-primary"  title="Add New Income">
          <i class="fas fa-plus mr-1"></i> 
          <span class="text-md">Add New Income</span>
        </a>
      </div>
    </div>
    <div class="card-body p-0 table-responsive">
      <table class="table table-striped   text-center  table-hover">
          <thead>
              <tr>
                  <th>
                      S.N.
                  </th>
                  <th>
                      Amount ({{ currency }})
                  </th>
                  <th>
                      Category
                  </th>
                  <th>
                      Description
                  </th>
                  <th>
                      Income Date
                  </th>
                  <th>
                    Entry Date
                </th>
                  <th>
                    Action
                  </th>
              </tr>
          </thead>
          <tbody>
              
              {% for income in incomes %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.income_category }}</td>
                <td>{{ income.description|truncatechars:40 }}</td>
                <td>{{ income.income_date }}</td>
                <td>{{ income.entry_date }}</td>
                <td>
                  <a href="{% url 'view-income' income.id %}" title="View this Income" class="mr-2 btn btn-sm btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  <a href="{% url 'edit-income' income.id %}" title="Edit this Income" class="mr-2 btn btn-sm btn-success"><i class="fa fa-edit" aria-hidden="true"></i></a>
                  <a href="javascript:;" title="Delete this Income" class="  btn btn-sm btn-danger delete-btn"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <form action="{% url 'delete-income' income.id %}" method="post">{% csrf_token %}</form>
                </td>
            </tr>
              {% endfor %}
                
          </tbody>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
 </div>
{% endblock %}