{% extends 'base/base.html' %}
{% load static %}

{% block title %}
  Change Password
{% endblock %}
{% block site_css %}
  <style>
    .errorlist li{
      color: lightcoral;
      font-size: 14px;
      list-style: none;
    }
  </style>
{% endblock %}

{% block content-header1 %}
  Change Password
{% endblock %}

{% block content-header2 %}
  Change Password
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <form method="POST" action="" id="change-password-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="old-password">Old Password</label>
          <input id="old-password" type="password" placeholder="Enter your old password" class="form-control form-control-sm" name="old_password" required>
          <div class="invalid-feedback d-block">
            {% if form.errors %}
            <!-- {{ form.old_password.name }} -->
            {{ form.old_password.errors }}
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label for="new-password">New Password</label>
          <input id="new-password" type="password" placeholder="Enter your new password" class="form-control form-control-sm" name="new_password1" required>
                <div class="invalid-feedback d-block" style="list-style: none;">
            {% if form.errors %}
            {{ form.new_password1.errors }}
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label for="new-password2">New Password Confirmation</label>
          <input id="new-password2" type="password" placeholder="Re-enter your new password" class="form-control form-control-sm" name="new_password2" required>
                <div class="invalid-feedback d-block" style="list-style: none;">
            {% if form.errors %}
            {{ form.new_password2.errors }}
            {% endif %}
          </div>
        </div>
        <div class="form-group m-0">
          <button type="submit" class="btn btn-primary btn-block">
            Change Password
          </button>
        </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

