{% extends 'base/front-base.html' %}
{% block title %}
    Login
{% endblock %}

{% block sub-title %}
    Welcome Back
{% endblock %}

{% block content %}
    <form method="POST" action="{% url  'signin' %}" class="my-login-validation" novalidate="">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">E-Mail Address</label>
            <input id="email" type="email" class="form-control" name="email" value="{{ fieldValues.email }}" required autofocus>
            <div class="invalid-feedback email-feedback d-none"></div>
        </div>

        <div class="form-group">
            <label for="password">Password
                <a href="forgot.html" class="float-right">
                    Forgot Password?
                </a>
            </label>
            <input id="password" type="password" class="form-control" name="password" required data-eye>
            <div class="invalid-feedback password-feedback d-none"></div>
        </div>

        <div class="form-group">
            <div class="custom-checkbox custom-control">
                <input type="checkbox" name="remember" id="remember" class="custom-control-input">
                <label for="remember" class="custom-control-label">Remember Me</label>
            </div>
        </div>

        <div class="form-group m-0">
            <input type="submit" value="Login"  class="btn btn-primary btn-block submit-btn">

        </div>
        <div class="mt-4 text-center">
            Don't have an account? <a href="{% url 'signup' %}">Create One</a>
        </div>
    </form>
{% endblock %}