{% extends 'base/front-base.html' %}
{% block title %} Login {% endblock %}
{% block sub-title %} Reset Your Password {% endblock %}
{% block content %}
<form method="POST">
  {% if form.errors %}
  <div class="text text-danger">
    {% for key, value in form.errors.items %}
    <strong>{{ value }}</strong>
    {% endfor %}
  </div>
{% endif %}
  {% csrf_token %}
    <div class="form-group">
      <label class="mb-1" for="id_new_password1">New Password</label>
      <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required
        id="id_new_password1" placeholder="Enter password" />
      <span>
      </span>
    </div>
    <div class="form-group">
      <label class="mb-1" for="id_new_password2">New Password Confirmation</label>
      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
        class="form-control" placeholder="Confirm password" />
    </div>
    <div class="form-group mt-0 mb-1">
      <button type="submit" class="col-md-12 btn btn-primary" id="reset">Reset Password</button>
    </div>
    <div class="mt-4 text-center">
    <a href="{% url 'signin' %}">Back to Login</a>
    </div>
</form>
  {% if not validlink %}
  <div class="alert alert-warning">
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </div>
  {% endif %}
{% endblock %}