{% extends 'base/base.html' %} 
{% load static %} 

{% block title %} Password Change {% endblock %} 

{% block site_css %}
<style>
  .errorlist li {
    color: lightcoral;
    font-size: 14px;
    list-style: none;
  }
</style>
{% endblock %} 
{% block content-header1 %} Password Change {% endblock %} 

{% block content-header2 %} Password Change {% endblock %} 

{% block content %}
<div class="col-sm-8 col-md-6 mx-auto">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Passwrod Change Form</h3>
    </div>
    <div class="card-body">
      <form method="POST" action="" id="change-password-form">
        {% csrf_token %}
        <div class="form-group">
          <label for="old-password">Old Password</label>
          <input
            id="old-password"
            type="password"
            placeholder="Enter your old password"
            class="form-control"
            name="old_password"
            required
          />
          <div class="invalid-feedback d-block">
            {% if form.errors %}
            <!-- {{ form.old_password.name }} -->
            {{ form.old_password.errors }} {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label for="new-password">New Password</label>
          <input
            id="new-password"
            type="password"
            placeholder="Enter your new password"
            class="form-control"
            name="new_password1"
            required
          />
          <div class="invalid-feedback d-block" style="list-style: none">
            {% if form.errors %} {{ form.new_password1.errors }} {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label for="new-password2">New Password Confirmation</label>
          <input
            id="new-password2"
            type="password"
            placeholder="Re-enter your new password"
            class="form-control"
            name="new_password2"
            required
          />
          <div class="invalid-feedback d-block" style="list-style: none">
            {% if form.errors %} {{ form.new_password2.errors }} {% endif %}
          </div>
        </div>
        <div class="form-group m-0">
          <button type="submit" class="btn btn-success btn-block">
            Change Password
          </button>
        </div>
      </form>
    </div>
    <!-- /.card-body -->
  </div>
</div>
{% endblock %}
