{% extends 'base/base.html' %} 
{% load static %} 
{% block title %} Dashboard {%endblock %} 
{% block content-header1 %} Dashboard {% endblock %} 
{% block content-header2 %} Dashboard {% endblock %} 

{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3>{{ income_count }}</h3>
                    <h4 class="font-weight-bold">Total Income</h4>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ total_income }}</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-secondary">
                <div class="inner">
                    <h3>{{ expense_count }}</h3>
                    <h4 class="font-weight-bold">Total Expense</h4>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ total_expense }}</span>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-{% if profit_or_loss_key == 'Loss' %}danger{% else %}success{% endif %}">
                <div class="inner">
                    <div style="height: 51px;"></div>
                    <h4 class="font-weight-bold">Total {{ profit_or_loss_key }}</h4>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <span class="small-box-footer text-lg font-weight-bold">{{ currency }}. {{ profit_or_loss_val }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
